<div id="menCategory" ng-controller="menCategoriesCtrl">

<table>
    <tr>
        <td colspan="2" class="header">
            <h1>Men's Popular Clothing</h1>
        </td>
    </tr>

    <tr>
        <td>
        <button ng-click="casualShirtFunc()" class="btn btn-default btn-circle btn-xl">
			<img class='img-circle' alt="Casual Shirt" width="350" height="300" src="resources/men/casual_shirt.jpg">
			<label>Casual Shirt</label>
		</button>
		
		<button ng-click="formalShirtFunc()" class="btn btn-default btn-circle btn-xl">
			<img class='img-circle' alt="Formal Shirt" width="350" height="300" src='resources/men/formal_shirt.jpg'>
			<label>Formal Shirt</label>
		</button>
        </td>
    </tr>
	<br/>
	<tr>
		<td>
		<button ng-click="tshirtFunc()" class="btn btn-default btn-circle btn-xl">
			<img class='img-circle' alt="TShirt" width="350" height="300" src='resources/men/tshirt.jpg'>
			<label>TShirt</label>
		</button>
        
		<button ng-click="sweatShirtFunc()" class="btn btn-default btn-circle btn-xl">
			<img class='img-circle' alt="SweatShirt" width="350" height="300" src='resources/men/sweatshirt.jpg'>
			<label>SweatShirt</label>
		</button>
        </td>
	</tr>
</table>
</div>
