<div id="genderCategory" ng-controller="clothTypeSelectCtrl">

<table>
    <tr>
        <td colspan="2" class="header">
            <h1>Select Your Clothing Type</h1>
        </td>
    </tr>

    <tr>
        <td>
        <button ng-click="menFunc()" class="btn btn-default btn-circle btn-xl">
			<img class='img-circle' alt="Men" width="300" height="236" src='resources/men.png'>
		</button>
		
        <label>Men</label>

        <button ng-click="womenFunc()" class="btn btn-default btn-circle btn-xl">
			<img class='img-circle' alt="Women" width="300" height="236" src="resources/women.png"></a>
			<label>Women</label>
		</button>

		
		<button ng-click="unisexFunc()" class="btn btn-default btn-circle btn-xl">
			<img class='img-circle' alt="Unisex" width="300" height="236" src='resources/unisex.png'></a>
			<label>Unisex</label>
		</button>
        
        </td>
    </tr>
</table>	
</div>
